body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
  text-align: center;
  padding: 10px;
}

#auth_forms{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

legend{
  margin-bottom: 15px;
  font-size: 1.5rem;
}

input{
  margin-bottom: 10px;
  padding: 5px;
  width: 500px;
}

button{
  padding: 5px 20px;
}

#chat_body{
  display: flex;
  flex-direction: column;
  align-items: center;
}